src/main/resources/wsdl/SubscriptionManagement.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SubscriptionManagement" targetNamespace="http://api.dcp.ericsson.net/SubscriptionManagement" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://api.dcp.ericsson.net/SubscriptionManagement" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <xsd:schema targetNamespace="http://api.dcp.ericsson.net/SubscriptionManagement">
   <xsd:element name="QuerySimResourceStatus">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="resource" type="tns:resource"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="QuerySimResourceStatusResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="SimResourceStatus" type="tns:simResourceStatus"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="QuerySimResource">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="resource" type="tns:resource"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="QuerySimResourceResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="SimResource" type="tns:simResource"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="QuerySimResource_v2">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="resource" type="tns:resource"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="QuerySimResourceResponse_v2">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="simResource" type="tns:simResource_v2"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="simResource">
    <xsd:sequence>
     <xsd:element maxOccurs="1" minOccurs="0" name="customerLabel" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="msisdn" type="xsd:string"/>
     <xsd:element name="imsi" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="icc" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="pin1" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="pin2" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="puk1" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="puk2" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="imei" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="assignedImei" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="customerNo" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="site" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="accessControlClass" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="roamProfileName" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="roamProfileDesc" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="deviceTerminalType" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="simSubscriptionStatus" type="tns:subscriptionStatus"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="simResourceStatus" type="tns:resourceStatus"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="simCardDescription" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="simSpecification" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="priceProfileName" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="priceProfileDesc" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="productOfferName" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="pdpContextProfileName" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="tenantId" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="userProfileId" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="deliveryDate" type="xsd:dateTime"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="firstActivationDate" type="xsd:dateTime"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="gprs" type="xsd:boolean"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="lte" type="xsd:boolean"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="smsMo" type="xsd:boolean"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="smsMt" type="xsd:boolean"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="csd" type="xsd:boolean"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="voice" type="xsd:boolean"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="clip" type="xsd:boolean"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="consumerConnectivity" type="xsd:boolean"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="apns" type="tns:apns"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="installationDate" type="xsd:dateTime"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="triggerPackage" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="pbrExitDate" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="lastSubscriptionDateChange" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="moveToPermitted" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="freezeDuration" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="chargeCodeForPPMove" type="xsd:boolean"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="chargeCodeNonPPMove" type="xsd:boolean"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="RegionShortName" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="arp" type="tns:arp"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="customerName" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="subscriptionPackageDescription" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="operatorId" type="xsd:string"/>
     <xsd:any maxOccurs="unbounded" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="simResource_v2">
    <xsd:sequence>
     <xsd:element maxOccurs="1" minOccurs="0" name="customerLabel" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="msisdn" type="xsd:string"/>
     <xsd:element name="imsi" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="icc" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="pin1" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="pin2" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="puk1" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="puk2" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="imei" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="assignedImei" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="customerNo" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="site" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="accessControlClass" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="roamProfileName" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="roamProfileDesc" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="deviceTerminalType" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="simSubscriptionStatus" type="tns:subscriptionStatus"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="simResourceStatus" type="tns:resourceStatus"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="simCardDescription" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="simSpecification" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="priceProfileName" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="priceProfileDesc" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="productOfferName" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="pdpContextProfileName" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="deliveryDate" type="xsd:dateTime"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="firstActivationDate" type="xsd:dateTime"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="gprs" type="xsd:boolean"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="smsMo" type="xsd:boolean"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="smsMt" type="xsd:boolean"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="csd" type="xsd:boolean"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="voice" type="xsd:boolean"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="clip" type="xsd:boolean"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="apns" type="tns:apns"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="installationDate" type="xsd:dateTime"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="triggerPackage" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="pbrExitDate" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="lastSubscriptionDateChange" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="moveToPermitted" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="freezeDuration" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="chargeCodeForPPMove" type="xsd:boolean"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="chargeCodeNonPPMove" type="xsd:boolean"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="RegionShortName" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="disposalDate" type="xsd:dateTime"/>
     <xsd:any maxOccurs="unbounded" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="resource">
    <xsd:sequence>
     <xsd:element maxOccurs="1" minOccurs="1" name="id" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="1" name="type" type="tns:resourceType"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="resourceIdList">
    <xsd:sequence>
     <xsd:element maxOccurs="unbounded" minOccurs="1" name="id" type="xsd:string"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="resources">
    <xsd:sequence>
     <xsd:element maxOccurs="1" minOccurs="1" name="resourceIdList" type="tns:resourceIdList"/>
     <xsd:element maxOccurs="1" minOccurs="1" name="resourceType" type="tns:resourceType"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="imsi">
    <xsd:sequence>
     <xsd:element maxOccurs="1" minOccurs="1" name="id" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="1" name="range" type="xsd:string"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="msisdn">
    <xsd:sequence>
     <xsd:element maxOccurs="1" minOccurs="1" name="id" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="1" name="range" type="xsd:string"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="customerLabel">
    <xsd:sequence>
     <xsd:element maxOccurs="1" minOccurs="1" name="id" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="1" name="startNumber" type="xsd:int"/>
     <xsd:element maxOccurs="1" minOccurs="1" name="chunkSize">
      <xsd:simpleType>
       <xsd:restriction base="xsd:int">
        <xsd:minExclusive value="1"/>
        <xsd:maxExclusive value="100"/>
       </xsd:restriction>
      </xsd:simpleType>
     </xsd:element>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="resourceType">
    <xsd:restriction base="xsd:string"/>
   </xsd:simpleType>
   <xsd:simpleType name="resourceStatus">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="Ordered"/>
     <xsd:enumeration value="Received"/>
     <xsd:enumeration value="Being Assembled"/>
     <xsd:enumeration value="Deployed"/>
     <xsd:enumeration value="In Repair"/>
     <xsd:enumeration value="Down"/>
     <xsd:enumeration value="End of Life"/>
     <xsd:enumeration value="Transferred"/>
     <xsd:enumeration value="Delete"/>
     <xsd:enumeration value="In Inventory"/>
     <xsd:enumeration value="On Loan"/>
     <xsd:enumeration value="Disposed"/>
     <xsd:enumeration value="Reserved"/>
     <xsd:enumeration value="Return to Vendor"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="subscriptionStatusRequest">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="Activate"/>
     <xsd:enumeration value="Deactivate"/>
     <xsd:enumeration value="Pause"/>
     <xsd:enumeration value="Terminate"/>
     <xsd:enumeration value="Reactivate"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="statusRequestResponse">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="Assigned"/>
     <xsd:enumeration value="Pending"/>
     <xsd:enumeration value="Waiting Approval"/>
     <xsd:enumeration value="Planning"/>
     <xsd:enumeration value="In Progress"/>
     <xsd:enumeration value="Completed"/>
     <xsd:enumeration value="Rejected"/>
     <xsd:enumeration value="Canceled"/>
     <xsd:enumeration value="Closed"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:element name="RequestSubscriptionStatusChange">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="resource" type="tns:resource"/>
      <xsd:element name="subscriptionStatus" type="tns:subscriptionStatusRequest"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="range" type="xsd:string"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="RequestSubscriptionStatusChangeResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="serviceRequestId" type="xsd:string"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="QuerySubscriptionStatusChange">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="serviceRequestId" type="xsd:string"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="QuerySubscriptionStatusChangeResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="serviceRequestId" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="statusRequestResponse" type="tns:statusRequestResponse"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="completedDate" type="xsd:date"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="RequestSubscriptionStatusChangeBatch">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="resources" type="tns:resources"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="subscriptionStatus" type="tns:subscriptionStatusRequest"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="batchFile" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="additionalInfo" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="customerNo" type="xsd:string"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="RequestSubscriptionStatusChangeBatchResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="requestId" type="xsd:string"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="QuerySubscriptionStatusChangeBatch">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="requestId" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="customerNo" type="xsd:string"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="QuerySubscriptionStatusChangeBatchResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="requestId" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="requestStatus" type="tns:changeBatchStatus"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="serviceRequestId" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="changeBatchEntry" type="tns:changeBatchEntry"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="RequestSubscriptionPackageChange">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="resource" type="tns:resource"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="range" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="subscriptionPackage" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="customerNo" type="xsd:string"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="RequestSubscriptionPackageChangeResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="requestId" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="serviceRequestId" type="xsd:string"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="RequestSubscriptionPackageChangeBatch">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="resources" type="tns:resources"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="subscriptionPackage" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="batchFile" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="additionalInfo" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="customerNo" type="xsd:string"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="RequestSubscriptionPackageChangeBatchResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="requestId" type="xsd:string"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="QuerySubscriptionPackageChangeBatch">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="requestId" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="customerNo" type="xsd:string"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="QuerySubscriptionPackageChangeBatchResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="requestId" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="requestStatus" type="tns:changeBatchStatus"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="serviceRequestId" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="changeBatchEntry" type="tns:changeBatchEntry"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="QuerySubscriptionChangeBatches">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="customerNo" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="requestType" type="tns:changeBatchType"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="QuerySubscriptionChangeBatchesResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="PendingBatchRow" type="tns:pendingBatchRow"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="RequestSubscriptionChangeBatchClear">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="requestId" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="customerNo" type="xsd:string"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="RequestSubscriptionChangeBatchClearResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="requestId" type="xsd:string"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="changeBatchEntry">
    <xsd:sequence>
     <xsd:element maxOccurs="1" minOccurs="0" name="imsi" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="msisdn" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="validationStatus" type="tns:changeBatchValidationStatus"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="errorCode" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="validationCode" type="xsd:string"/>
     <xsd:any maxOccurs="unbounded" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="pendingBatchRow">
    <xsd:sequence>
     <xsd:element maxOccurs="1" minOccurs="1" name="requestId" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="1" name="requestType" type="tns:changeBatchType"/>
     <xsd:element maxOccurs="1" minOccurs="1" name="requestStatus" type="tns:changeBatchStatus"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="serviceRequestId" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="batchInfo" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="1" name="validationStatus" type="tns:changeBatchValidationStatus"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="detailedValidationStatus" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="batchFile" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="1" name="submitter" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="1" name="submitTime" type="xsd:dateTime"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="additionalInfo" type="xsd:string"/>
     <xsd:any maxOccurs="unbounded" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="changeBatchStatus">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="New"/>
     <xsd:enumeration value="In-progress"/>
     <xsd:enumeration value="Completed"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="changeBatchValidationStatus">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="New"/>
     <xsd:enumeration value="In progress"/>
     <xsd:enumeration value="Failed"/>
     <xsd:enumeration value="Validated"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="changeBatchType">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="Status"/>
     <xsd:enumeration value="Package"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="simResourceStatus">
    <xsd:sequence>
     <xsd:element name="simResourceStatusValue" type="tns:resourceStatus"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="customerLabel" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="msisdn" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="imsi" type="xsd:string"/>
     <xsd:any maxOccurs="unbounded" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="apn">
    <xsd:sequence>
     <xsd:element name="name" type="xsd:string"/>
     <xsd:element name="description" type="xsd:string"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="apns">
    <xsd:sequence>
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="apn" type="tns:apn"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="arp">
    <xsd:sequence>
     <xsd:element maxOccurs="1" minOccurs="1" name="tadig" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="1" name="assignmentTime" type="xsd:dateTime"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="subscriptionStatus">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="Ordered"/>
     <xsd:enumeration value="SIM Allocated"/>
     <xsd:enumeration value="SIM Ordered"/>
     <xsd:enumeration value="Activated In HLR"/>
     <xsd:enumeration value="Active"/>
     <xsd:enumeration value="Deactivated"/>
     <xsd:enumeration value="Pause"/>
     <xsd:enumeration value="Terminated"/>
     <xsd:enumeration value="Cancelled"/>
     <xsd:enumeration value="Closed"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:element name="QuerySimResources">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="resource" type="tns:resource"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="range" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="startNumber" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="chunkSize" type="xsd:int"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="QuerySimResourcesResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="simResource" type="tns:simRangeResource"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="simRangeResource">
    <xsd:sequence>
     <xsd:element maxOccurs="1" minOccurs="0" name="customerLabel" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="msisdn" type="xsd:string"/>
     <xsd:element name="imsi" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="icc" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="pin1" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="pin2" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="puk1" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="puk2" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="imei" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="customerNo" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="site" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="accessControlClass" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="roamProfileName" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="roamProfileDesc" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="deviceTerminalType" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="simSubscriptionStatus" type="tns:subscriptionStatus"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="simResourceStatus" type="tns:resourceStatus"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="simCardDescription" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="simSpecification" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="priceProfileName" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="priceProfileDesc" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="productOfferName" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="pdpContextProfileName" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="deliveryDate" type="xsd:dateTime"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="firstActivationDate" type="xsd:dateTime"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="RegionShortName" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="arp" type="tns:arp"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="QuerySubscriptionPackages">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="customerNo" type="xsd:string"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="QuerySubscriptionPackagesResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="subscriptionPackages" type="tns:subscriptionPackage"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="subscriptionPackage">
    <xsd:sequence>
     <xsd:element name="subscriptionPackageName" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="serviceContract" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="subscriptionPackageDescription" type="xsd:string"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="subscriptionPackageWithTriggerPackage">
    <xsd:sequence>
     <xsd:element name="subscriptionPackageName" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="serviceContract" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="subscriptionPackageDescription" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="triggerPackageNo" type="xsd:string"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="QuerySubscriptionPackagesRequest_v2">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="customerNo" type="xsd:string"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="QuerySubscriptionPackagesResponse_v2">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="subscriptionPackages" type="tns:subscriptionPackageWithTriggerPackage"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="QueryAllContractSubscriptionPackagesRequest">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="customerNo" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="QueryAllContractSubscriptionPackagesResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="subscriptionPackage" type="tns:subscriptionPackageWithCompany"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="subscriptionPackageWithCompany">
    <xsd:sequence>
     <xsd:element name="description" type="xsd:string"/>
     <xsd:element name="id" type="xsd:string"/>
     <xsd:element minOccurs="0" name="serviceContractId" type="xsd:string"/>
     <xsd:element minOccurs="0" name="triggerPackageNo" type="xsd:int"/>
     <xsd:element minOccurs="0" name="company" type="xsd:string"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="QueryServiceRequestDetails">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="serviceRequestId" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="requestId" type="xsd:string"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="QueryServiceRequestDetailsResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="serviceRequestStatus" type="tns:statusRequestResponse"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="serviceRequestType" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="serviceRequestResourceDetails" type="tns:serviceRequestResourceDetailsList"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="serviceRequestResourceDetailsList">
    <xsd:sequence>
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="serviceRequestResourceDetails" type="tns:serviceRequestResourceDetails"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="serviceRequestResourceDetails">
    <xsd:sequence>
     <xsd:element maxOccurs="1" minOccurs="1" name="imsi" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="1" name="msisdn" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="1" name="resourceStatus" type="tns:subscriptionResourceStatus"/>
     <xsd:element maxOccurs="1" minOccurs="1" name="errorCode" type="xsd:string"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="subscriptionResourceStatus">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="Valid"/>
     <xsd:enumeration value="Rejected"/>
     <xsd:enumeration value="In Progress"/>
     <xsd:enumeration value="Completed"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:element name="RequestCustomerLabelChange">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="customerLabel" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="resource" type="tns:resource"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="range" type="xsd:string"/>
      <xsd:any maxOccurs="1" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="RequestCustomerLabelChangeResponse" type="tns:asynchRequestResponse"/>
   <xsd:complexType name="asynchRequestResponse">
    <xsd:sequence>
     <xsd:element maxOccurs="1" minOccurs="0" name="serviceRequestId" type="xsd:string"/>
     <xsd:element maxOccurs="1" minOccurs="0" name="requestId" type="xsd:string"/>
     <xsd:any maxOccurs="1" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="subscriptionPackageNameList">
    <xsd:sequence>
     <xsd:element maxOccurs="unbounded" minOccurs="1" name="subscriptionPackageName" type="xsd:string"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="dateFilter">
    <xsd:restriction base="xsd:string">
     <xsd:enumeration value="Before"/>
     <xsd:enumeration value="After"/>
     <xsd:enumeration value="None"/>
    </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="lastUpdate">
    <xsd:sequence>
     <xsd:element maxOccurs="1" minOccurs="0" name="lastDate" type="xsd:dateTime"/>
     <xsd:element maxOccurs="1" minOccurs="1" name="filter" type="tns:dateFilter"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="QuerySubscriptionsRequest">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="customerNo" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="resource" type="tns:resource"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="range" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="customerLabel" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="subscriptionPackageNameList" type="tns:subscriptionPackageNameList"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="lastSubscriptionPackageChange" type="tns:lastUpdate"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="lastLocationUpdate" type="tns:lastUpdate"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="lastPDPContext" type="tns:lastUpdate"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="lastNetworkActivity" type="tns:lastUpdate"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="lastData" type="tns:lastUpdate"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="lastSMS" type="tns:lastUpdate"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="lastCountry" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="lastOperator" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="maxResults" nillable="true">
       <xsd:simpleType>
        <xsd:restriction base="xsd:int">
         <xsd:minExclusive value="1"/>
         <xsd:maxExclusive value="2000"/>
        </xsd:restriction>
       </xsd:simpleType>
      </xsd:element>
      <xsd:any maxOccurs="unbounded" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="Subscription">
    <xsd:sequence>
     <xsd:element name="imsi" type="xsd:string"/>
     <xsd:element name="msisdn" type="xsd:string"/>
     <xsd:element name="customerLabel" type="xsd:string"/>
     <xsd:element name="subscriptionPackageName" type="xsd:string"/>
     <xsd:element name="lastOperator" type="xsd:string"/>
     <xsd:element name="lastCountry" type="xsd:string"/>
     <xsd:element name="lastLocationUpdate" type="xsd:dateTime"/>
     <xsd:element name="lastPDPContext" type="xsd:dateTime"/>
     <xsd:element name="lastNetworkActivity" type="xsd:dateTime"/>
     <xsd:element name="lastData" type="xsd:dateTime"/>
     <xsd:element name="lastSMS" type="xsd:dateTime"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="QuerySubscriptionsResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="subscriptions" type="tns:Subscriptions"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="Subscriptions">
    <xsd:sequence>
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="subscription" type="tns:Subscription"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="QuerySubscriptionsStatusHistory">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="customerNo" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="startDate" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="endDate" type="xsd:date"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="QuerySubscriptionsStatusHistoryResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="aggregatedStatus" type="tns:aggregatedStatus"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="aggregatedStatus">
    <xsd:sequence>
     <xsd:element name="aggregationDate" type="xsd:date"/>
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="aggregatedStatusVolume" type="tns:aggregatedStatusVolume"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="aggregatedStatusVolume">
    <xsd:sequence>
     <xsd:element name="status" type="xsd:string"/>
     <xsd:element name="statusVolume" type="xsd:string"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="QueryAvailableRegions">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="resource" type="tns:resource"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="QueryAvailableRegionsResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="regionShortNameList" type="tns:regionShortNameList"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="regionShortNameList">
    <xsd:sequence>
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="regionShortName" type="xsd:string"/>
     <xsd:any maxOccurs="unbounded" minOccurs="0"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="ChangeSubscriptionRegion">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="customerNo" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="resource" type="tns:resource"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="newRegion" type="xsd:string"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="ChangeSubscriptionRegionResponse" type="tns:asynchRequestResponse"/>
   <xsd:element name="ChangeAlternativeRoamingProvider">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="resource" type="tns:resource"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="tadig" type="xsd:string"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="ChangeAlternativeRoamingProviderResponse">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="serviceRequestId" type="xsd:string"/>
      <xsd:any maxOccurs="unbounded" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:schema>
 </wsdl:types>
 <wsdl:message name="QuerySubscriptionsRequest">
  <wsdl:part element="tns:QuerySubscriptionsRequest" name="QuerySubscriptionsRequest"/>
 </wsdl:message>
 <wsdl:message name="ChangeAlternativeRoamingProviderResponse">
  <wsdl:part element="tns:ChangeAlternativeRoamingProviderResponse" name="ChangeAlternativeRoamingProviderResponse"/>
 </wsdl:message>
 <wsdl:message name="QueryAllContractSubscriptionPackagesRequest">
  <wsdl:part element="tns:QueryAllContractSubscriptionPackagesRequest" name="QueryAllContractSubscriptionPackages"/>
 </wsdl:message>
 <wsdl:message name="QuerySubscriptionStatusChangeRequest">
  <wsdl:part element="tns:QuerySubscriptionStatusChange" name="QuerySubscriptionStatusChange"/>
 </wsdl:message>
 <wsdl:message name="RequestSubscriptionChangeBatchClearResponse">
  <wsdl:part element="tns:RequestSubscriptionChangeBatchClearResponse" name="RequestSubscriptionChangeBatchClearResponse"/>
 </wsdl:message>
 <wsdl:message name="QuerySubscriptionStatusChangeBatchResponse">
  <wsdl:part element="tns:QuerySubscriptionStatusChangeBatchResponse" name="QuerySubscriptionStatusChangeBatchResponse"/>
 </wsdl:message>
 <wsdl:message name="QuerySubscriptionChangeBatchesResponse">
  <wsdl:part element="tns:QuerySubscriptionChangeBatchesResponse" name="QuerySubscriptionChangeBatchesResponse"/>
 </wsdl:message>
 <wsdl:message name="QuerySubscriptionsStatusHistoryRequest">
  <wsdl:part element="tns:QuerySubscriptionsStatusHistory" name="QuerySubscriptionStateHistory"/>
 </wsdl:message>
 <wsdl:message name="ChangeAlternativeRoamingProviderRequest">
  <wsdl:part element="tns:ChangeAlternativeRoamingProvider" name="ChangeAlternativeRoamingProvider"/>
 </wsdl:message>
 <wsdl:message name="RequestSubscriptionStatusChangeBatchResponse">
  <wsdl:part element="tns:RequestSubscriptionStatusChangeBatchResponse" name="RequestSubscriptionStatusChangeBatchResponse"/>
 </wsdl:message>
 <wsdl:message name="RequestSubscriptionChangeBatchClearRequest">
  <wsdl:part element="tns:RequestSubscriptionChangeBatchClear" name="RequestSubscriptionChangeBatchClear"/>
 </wsdl:message>
 <wsdl:message name="RequestCustomerLabelChangeResponse">
  <wsdl:part element="tns:RequestCustomerLabelChangeResponse" name="RequestCustomerLabelChangeResponse"/>
 </wsdl:message>
 <wsdl:message name="QuerySimResourcesRequest">
  <wsdl:part element="tns:QuerySimResources" name="QuerySimResources"/>
 </wsdl:message>
 <wsdl:message name="QuerySimResourceRequest">
  <wsdl:part element="tns:QuerySimResource" name="QuerySimResource"/>
 </wsdl:message>
 <wsdl:message name="QuerySimResourceStatusRequest">
  <wsdl:part element="tns:QuerySimResourceStatus" name="QuerySimResourceStatus"/>
 </wsdl:message>
 <wsdl:message name="RequestSubscriptionPackageChangeResponse">
  <wsdl:part element="tns:RequestSubscriptionPackageChangeResponse" name="RequestSubscriptionPackageChangeResponse"/>
 </wsdl:message>
 <wsdl:message name="RequestSubscriptionPackageChangeBatchResponse">
  <wsdl:part element="tns:RequestSubscriptionPackageChangeBatchResponse" name="RequestSubscriptionPackageChangeBatchResponse"/>
 </wsdl:message>
 <wsdl:message name="QuerySimResourcesResponse">
  <wsdl:part element="tns:QuerySimResourcesResponse" name="QuerySimResourcesResponse"/>
 </wsdl:message>
 <wsdl:message name="QuerySubscriptionStatusChangeResponse">
  <wsdl:part element="tns:QuerySubscriptionStatusChangeResponse" name="QuerySubscriptionStatusChangeResponse"/>
 </wsdl:message>
 <wsdl:message name="RequestSubscriptionPackageChangeBatchRequest">
  <wsdl:part element="tns:RequestSubscriptionPackageChangeBatch" name="RequestSubscriptionPackageChangeBatch"/>
 </wsdl:message>
 <wsdl:message name="QueryAvailableRegions">
  <wsdl:part element="tns:QueryAvailableRegions" name="QueryAvailableRegions"/>
 </wsdl:message>
 <wsdl:message name="QuerySubscriptionPackagesRequest">
  <wsdl:part element="tns:QuerySubscriptionPackages" name="QuerySubscriptionPackages"/>
 </wsdl:message>
 <wsdl:message name="QuerySimResourceResponse_v2">
  <wsdl:part element="tns:QuerySimResourceResponse_v2" name="QuerySimResourceResponse_v2"/>
 </wsdl:message>
 <wsdl:message name="QuerySubscriptionsStatusHistoryResponse">
  <wsdl:part element="tns:QuerySubscriptionsStatusHistoryResponse" name="QuerySubscriptionsStatusHistoryResponse"/>
 </wsdl:message>
 <wsdl:message name="QuerySubscriptionChangeBatchesRequest">
  <wsdl:part element="tns:QuerySubscriptionChangeBatches" name="QuerySubscriptionChangeBatches"/>
 </wsdl:message>
 <wsdl:message name="QuerySubscriptionPackagesResponse_v2">
  <wsdl:part element="tns:QuerySubscriptionPackagesResponse_v2" name="QuerySubscriptionPackagesResponse"/>
 </wsdl:message>
 <wsdl:message name="ChangeSubscriptionRegionResponse">
  <wsdl:part element="tns:ChangeSubscriptionRegionResponse" name="ChangeSubscriptionRegionResponse"/>
 </wsdl:message>
 <wsdl:message name="QueryAllContractSubscriptionPackagesResponse">
  <wsdl:part element="tns:QueryAllContractSubscriptionPackagesResponse" name="QueryAllContractSubscriptionPackagesResponse"/>
 </wsdl:message>
 <wsdl:message name="QuerySimResourceStatusResponse">
  <wsdl:part element="tns:QuerySimResourceStatusResponse" name="QuerySimResourceStatusResponse"/>
 </wsdl:message>
 <wsdl:message name="QueryServiceRequestDetailsRequest">
  <wsdl:part element="tns:QueryServiceRequestDetails" name="QueryServiceRequestDetailsRequest"/>
 </wsdl:message>
 <wsdl:message name="QuerySubscriptionPackageChangeBatchRequest">
  <wsdl:part element="tns:QuerySubscriptionPackageChangeBatch" name="QuerySubscriptionPackageChangeBatch"/>
 </wsdl:message>
 <wsdl:message name="QuerySubscriptionPackageChangeBatchResponse">
  <wsdl:part element="tns:QuerySubscriptionPackageChangeBatchResponse" name="QuerySubscriptionPackageChangeBatchResponse"/>
 </wsdl:message>
 <wsdl:message name="RequestSubscriptionStatusChangeResponse">
  <wsdl:part element="tns:RequestSubscriptionStatusChangeResponse" name="RequestSubscriptionStatusChangeResponse"/>
 </wsdl:message>
 <wsdl:message name="QuerySubscriptionPackagesResponse">
  <wsdl:part element="tns:QuerySubscriptionPackagesResponse" name="QuerySubscriptionPackagesResponse"/>
 </wsdl:message>
 <wsdl:message name="QueryAvailableRegionsResponse">
  <wsdl:part element="tns:QueryAvailableRegionsResponse" name="QueryAvailableRegionsResponse"/>
 </wsdl:message>
 <wsdl:message name="RequestSubscriptionStatusChangeBatchRequest">
  <wsdl:part element="tns:RequestSubscriptionStatusChangeBatch" name="RequestSubscriptionStatusChangeBatch"/>
 </wsdl:message>
 <wsdl:message name="QuerySubscriptionStatusChangeBatchRequest">
  <wsdl:part element="tns:QuerySubscriptionStatusChangeBatch" name="QuerySubscriptionStatusChangeBatch"/>
 </wsdl:message>
 <wsdl:message name="RequestSubscriptionStatusChangeRequest">
  <wsdl:part element="tns:RequestSubscriptionStatusChange" name="RequestSubscriptionStatusChange"/>
 </wsdl:message>
 <wsdl:message name="ChangeSubscriptionRegion">
  <wsdl:part element="tns:ChangeSubscriptionRegion" name="ChangeSubscriptionRegion"/>
 </wsdl:message>
 <wsdl:message name="QueryServiceRequestDetailsResponse">
  <wsdl:part element="tns:QueryServiceRequestDetailsResponse" name="QueryServiceRequestDetailsResponse"/>
 </wsdl:message>
 <wsdl:message name="QuerySubscriptionPackagesRequest_v2">
  <wsdl:part element="tns:QuerySubscriptionPackagesRequest_v2" name="QuerySubscriptionPackagesRequest"/>
 </wsdl:message>
 <wsdl:message name="QuerySimResourceRequest_v2">
  <wsdl:part element="tns:QuerySimResource_v2" name="QuerySimResource_v2"/>
 </wsdl:message>
 <wsdl:message name="RequestSubscriptionPackageChangeRequest">
  <wsdl:part element="tns:RequestSubscriptionPackageChange" name="RequestSubscriptionPackageChange"/>
 </wsdl:message>
 <wsdl:message name="QuerySubscriptionsResponse">
  <wsdl:part element="tns:QuerySubscriptionsResponse" name="QuerySubscriptionsResponse"/>
 </wsdl:message>
 <wsdl:message name="QuerySimResourceResponse">
  <wsdl:part element="tns:QuerySimResourceResponse" name="QuerySimResourceResponse"/>
 </wsdl:message>
 <wsdl:message name="RequestCustomerLabelChangeRequest">
  <wsdl:part element="tns:RequestCustomerLabelChange" name="RequestCustomerLabelChange"/>
 </wsdl:message>
 <wsdl:portType name="SubscriptionManagement">
  <wsdl:operation name="QuerySimResource">
   <wsdl:input message="tns:QuerySimResourceRequest"/>
   <wsdl:output message="tns:QuerySimResourceResponse"/>
  </wsdl:operation>
  <wsdl:operation name="QuerySimResource_v2">
   <wsdl:input message="tns:QuerySimResourceRequest_v2"/>
   <wsdl:output message="tns:QuerySimResourceResponse_v2"/>
  </wsdl:operation>
  <wsdl:operation name="RequestSubscriptionStatusChange">
   <wsdl:input message="tns:RequestSubscriptionStatusChangeRequest"/>
   <wsdl:output message="tns:RequestSubscriptionStatusChangeResponse"/>
  </wsdl:operation>
  <wsdl:operation name="QuerySubscriptionStatusChange">
   <wsdl:input message="tns:QuerySubscriptionStatusChangeRequest"/>
   <wsdl:output message="tns:QuerySubscriptionStatusChangeResponse"/>
  </wsdl:operation>
  <wsdl:operation name="RequestSubscriptionStatusChangeBatch">
   <wsdl:input message="tns:RequestSubscriptionStatusChangeBatchRequest"/>
   <wsdl:output message="tns:RequestSubscriptionStatusChangeBatchResponse"/>
  </wsdl:operation>
  <wsdl:operation name="QuerySubscriptionStatusChangeBatch">
   <wsdl:input message="tns:QuerySubscriptionStatusChangeBatchRequest"/>
   <wsdl:output message="tns:QuerySubscriptionStatusChangeBatchResponse"/>
  </wsdl:operation>
  <wsdl:operation name="RequestSubscriptionPackageChange">
   <wsdl:input message="tns:RequestSubscriptionPackageChangeRequest"/>
   <wsdl:output message="tns:RequestSubscriptionPackageChangeResponse"/>
  </wsdl:operation>
  <wsdl:operation name="RequestSubscriptionPackageChangeBatch">
   <wsdl:input message="tns:RequestSubscriptionPackageChangeBatchRequest"/>
   <wsdl:output message="tns:RequestSubscriptionPackageChangeBatchResponse"/>
  </wsdl:operation>
  <wsdl:operation name="QuerySubscriptionPackageChangeBatch">
   <wsdl:input message="tns:QuerySubscriptionPackageChangeBatchRequest"/>
   <wsdl:output message="tns:QuerySubscriptionPackageChangeBatchResponse"/>
  </wsdl:operation>
  <wsdl:operation name="QuerySubscriptionChangeBatches">
   <wsdl:input message="tns:QuerySubscriptionChangeBatchesRequest"/>
   <wsdl:output message="tns:QuerySubscriptionChangeBatchesResponse"/>
  </wsdl:operation>
  <wsdl:operation name="RequestSubscriptionChangeBatchClear">
   <wsdl:input message="tns:RequestSubscriptionChangeBatchClearRequest"/>
   <wsdl:output message="tns:RequestSubscriptionChangeBatchClearResponse"/>
  </wsdl:operation>
  <wsdl:operation name="QuerySimResources">
   <wsdl:input message="tns:QuerySimResourcesRequest"/>
   <wsdl:output message="tns:QuerySimResourcesResponse"/>
  </wsdl:operation>
  <wsdl:operation name="QuerySubscriptionPackages">
   <wsdl:input message="tns:QuerySubscriptionPackagesRequest"/>
   <wsdl:output message="tns:QuerySubscriptionPackagesResponse"/>
  </wsdl:operation>
  <wsdl:operation name="QuerySubscriptionPackages_v2">
   <wsdl:input message="tns:QuerySubscriptionPackagesRequest_v2"/>
   <wsdl:output message="tns:QuerySubscriptionPackagesResponse_v2"/>
  </wsdl:operation>
  <wsdl:operation name="QueryAllContractSubscriptionPackages">
   <wsdl:input message="tns:QueryAllContractSubscriptionPackagesRequest"/>
   <wsdl:output message="tns:QueryAllContractSubscriptionPackagesResponse"/>
  </wsdl:operation>
  <wsdl:operation name="QueryServiceRequestDetails">
   <wsdl:input message="tns:QueryServiceRequestDetailsRequest"/>
   <wsdl:output message="tns:QueryServiceRequestDetailsResponse"/>
  </wsdl:operation>
  <wsdl:operation name="RequestCustomerLabelChange">
   <wsdl:input message="tns:RequestCustomerLabelChangeRequest"/>
   <wsdl:output message="tns:RequestCustomerLabelChangeResponse"/>
  </wsdl:operation>
  <wsdl:operation name="QuerySubscriptions">
   <wsdl:input message="tns:QuerySubscriptionsRequest"/>
   <wsdl:output message="tns:QuerySubscriptionsResponse"/>
  </wsdl:operation>
  <wsdl:operation name="QuerySubscriptionsStatusHistory">
   <wsdl:input message="tns:QuerySubscriptionsStatusHistoryRequest"/>
   <wsdl:output message="tns:QuerySubscriptionsStatusHistoryResponse"/>
  </wsdl:operation>
  <wsdl:operation name="QueryAvailableRegions">
   <wsdl:input message="tns:QueryAvailableRegions"/>
   <wsdl:output message="tns:QueryAvailableRegionsResponse"/>
  </wsdl:operation>
  <wsdl:operation name="ChangeSubscriptionRegion">
   <wsdl:input message="tns:ChangeSubscriptionRegion"/>
   <wsdl:output message="tns:ChangeSubscriptionRegionResponse"/>
  </wsdl:operation>
  <wsdl:operation name="ChangeAlternativeRoamingProvider">
   <wsdl:input message="tns:ChangeAlternativeRoamingProviderRequest"/>
   <wsdl:output message="tns:ChangeAlternativeRoamingProviderResponse"/>
  </wsdl:operation>
 </wsdl:portType>
 <wsdl:binding name="SubscriptionManagementBinding" type="tns:SubscriptionManagement">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <wsdl:operation name="QuerySimResource">
   <soap:operation soapAction="http://api.dcp.ericsson.net/SubscriptionManagement/QuerySimResource"/>
   <wsdl:input>
    <soap:body use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal"/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="QuerySimResource_v2">
   <soap:operation soapAction="http://api.dcp.ericsson.net/SubscriptionManagement/QuerySimResource_v2"/>
   <wsdl:input>
    <soap:body use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal"/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="RequestSubscriptionStatusChange">
   <soap:operation soapAction="http://api.dcp.ericsson.net/SubscriptionManagement/RequestSubscriptionStatusChange"/>
   <wsdl:input>
    <soap:body use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal"/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="QuerySubscriptionStatusChange">
   <soap:operation soapAction="http://api.dcp.ericsson.net/SubscriptionManagement/QuerySubscriptionStatusChange"/>
   <wsdl:input>
    <soap:body use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal"/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="RequestSubscriptionStatusChangeBatch">
   <soap:operation soapAction="http://api.dcp.ericsson.net/SubscriptionManagement/RequestSubscriptionStatusChangeBatch"/>
   <wsdl:input>
    <soap:body use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal"/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="QuerySubscriptionStatusChangeBatch">
   <soap:operation soapAction="http://api.dcp.ericsson.net/SubscriptionManagement/QuerySubscriptionStatusChangeBatch"/>
   <wsdl:input>
    <soap:body use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal"/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="RequestSubscriptionPackageChange">
   <soap:operation soapAction="http://api.dcp.ericsson.net/SubscriptionManagement/RequestSubscriptionPackageChange"/>
   <wsdl:input>
    <soap:body use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal"/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="RequestSubscriptionPackageChangeBatch">
   <soap:operation soapAction="http://api.dcp.ericsson.net/SubscriptionManagement/RequestSubscriptionPackageChangeBatch"/>
   <wsdl:input>
    <soap:body use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal"/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="QuerySubscriptionPackageChangeBatch">
   <soap:operation soapAction="http://api.dcp.ericsson.net/SubscriptionManagement/QuerySubscriptionPackageChangeBatch"/>
   <wsdl:input>
    <soap:body use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal"/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="QuerySubscriptionChangeBatches">
   <soap:operation soapAction="http://api.dcp.ericsson.net/SubscriptionManagement/QuerySubscriptionChangeBatches"/>
   <wsdl:input>
    <soap:body use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal"/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="RequestSubscriptionChangeBatchClear">
   <soap:operation soapAction="http://api.dcp.ericsson.net/SubscriptionManagement/RequestSubscriptionChangeBatchClear"/>
   <wsdl:input>
    <soap:body use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal"/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="QuerySimResources">
   <soap:operation soapAction="http://api.dcp.ericsson.net/SubscriptionManagement/QuerySimResources"/>
   <wsdl:input>
    <soap:body use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal"/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="QuerySubscriptionPackages">
   <soap:operation soapAction="http://api.dcp.ericsson.net/SubscriptionManagement/QuerySubscriptionPackages"/>
   <wsdl:input>
    <soap:body use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal"/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="QuerySubscriptionPackages_v2">
   <soap:operation soapAction="http://api.dcp.ericsson.net/SubscriptionManagement/QuerySubscriptionPackages_v2"/>
   <wsdl:input>
    <soap:body use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal"/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="QueryAllContractSubscriptionPackages">
   <soap:operation soapAction="http://api.dcp.ericsson.net/SubscriptionManagement/QueryAllContractSubscriptionPackages"/>
   <wsdl:input>
    <soap:body use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal"/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="QueryServiceRequestDetails">
   <soap:operation soapAction="http://api.dcp.ericsson.net/SubscriptionManagement/QueryServiceRequestDetails"/>
   <wsdl:input>
    <soap:body use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal"/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="RequestCustomerLabelChange">
   <soap:operation soapAction="http://api.dcp.ericsson.net/SubscriptionManagement/RequestCustomerLabelChange"/>
   <wsdl:input>
    <soap:body use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal"/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="QuerySubscriptions">
   <soap:operation soapAction="http://api.dcp.ericsson.net/SubscriptionManagement/QuerySubscriptions"/>
   <wsdl:input>
    <soap:body use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal"/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="QuerySubscriptionsStatusHistory">
   <soap:operation soapAction="http://api.dcp.ericsson.net/SubscriptionManagement/QuerySubscriptionsStatusHistory"/>
   <wsdl:input>
    <soap:body use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal"/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="QueryAvailableRegions">
   <soap:operation soapAction="http://api.dcp.ericsson.net/SubscriptionManagement/QueryAvailableRegions"/>
   <wsdl:input>
    <soap:body use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal"/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ChangeSubscriptionRegion">
   <soap:operation soapAction="http://api.dcp.ericsson.net/SubscriptionManagement/ChangeSubscriptionRegion"/>
   <wsdl:input>
    <soap:body use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal"/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="ChangeAlternativeRoamingProvider">
   <soap:operation soapAction="http://api.dcp.ericsson.net/SubscriptionManagement/ChangeAlternativeRoamingProvider"/>
   <wsdl:input>
    <soap:body use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal"/>
   </wsdl:output>
  </wsdl:operation>
 </wsdl:binding>
 <wsdl:service name="SubscriptionManagementService">
  <wsdl:port binding="tns:SubscriptionManagementBinding" name="SubscriptionManagementPort">
   <soap:address location="https://trial.dcp.ericsson.net/dcpapi/SubscriptionManagement"/>
  </wsdl:port>
 </wsdl:service>
</wsdl:definitions>